{% extends 'base.twig' %}

{% block content %}

<h1>Admin section</h1>

{% if users %}
    <h2> Users: </h2> 
    {% for user in users %}
    <form action="/admin/delete/user" method="POST">
    <table>
    <tr>
        <th>Id</th>
        <th>Username</th>
    </tr>
 
        <tr>
            <td>{{ user.userid }}</td>
            <td><a href="/user/{{ user.username}}">{{ user.username }}</a></td>
            <td><input type="text" name="User" value="{{ user.username }}" hidden /></td>
            <td><input type="text" name="str" value="{{userStr}}" hidden /></td>
            <td><input type="submit" name="submit" value="Delete this user"></td>
        </tr>

   
    </table>
    </form>
 {% endfor %}
{% else %}
    The users table is empty.
{% endif %}

{% if posts %}
    <h2> POST: </h2> 
   {% for post in posts %}
    <form action="/admin/delete/post" method="POST">
    <table>
        <tr>
            <td>Title:</td>
            <td><a href="/posts/{{ post.postid }}">{{ post.title }}</a></td>
            <td><input type="text" value="{{ post.postid}}" name="postId" hidden/></td>
            <td><input type="text" name="str" value="{{userStr}}" hidden /></td>
            <td><input type="submit" name="submit" value="Delete this post" /></td>
        </tr>
    </table>
    </form>    
   {% endfor %}         
{% else %}
    There are no posts
{% endif %}

{% endblock %}
