{% extends 'base.twig' %}

{% block content %}
    <h3> {{ flash.msg }}</h3>
    {% if post %}
        <h2>{{ post.title}}</h2>
        <h3> by {{post.author|raw}}</h3>
        <p> {{ post.content }}</p>
        <lb></lb>
        <h2>COMMENTS</h2>
        {% for comment in comments %}
            <div class="review">
                <b>Author:</b> {{ comment.author }} <b> posted on: {{ comment.date }} </b>
                <pre> {{ comment.text }}</pre>
            </div>
        {% else %}
            <br>
            Be the first one to write a comment for this post.
            <br>
            <br>
        {% endfor %}
        <h2>Post your comment here</h2><br />
        <div id="feil">{{flash.error}}</div>
        <p>Comment: </p>

        <form method="post" action="" onsubmit="return validate()">
            <textarea cols="40" rows="10" id="con" name="text" ></textarea> <br />
            <input type="text" name="str" value="{{userStr}}" hidden />
            <input type="submit" value="Submit comment" name="submit"></button>
        </form>

    {% else %}
        <h1> Unable to find that post. </h1>
    {% endif %}

    <script type="text/javascript"> 

    function validateComment() {

        var regex = /^[a-zA-Z0-9.]{1}[a-zA-Z0-9.? \s]{1,249}$/;
        var OK = regex.test(document.getElementById("con").value);
        
        if(!OK) {
        document.getElementById("feil").innerHTML ="Content can not be empty/start with whitespace. Illegal sybol used."
        return false;
        }
        return true;

    }

    function validate() {
    var OK = true;
    if(!validateComment()) {
        OK = false;
    }
    return OK;
    }

    </script>
{% endblock %}
